main{  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    max-width: 1300px;
    margin: 5%;
    height: 100%;
   
}
#inf-login{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    margin: 10%;
}
#ola{
    display: flex;
    margin: -1%;
    color: #DEEFE7;
}
#msg-login{
    display: flex;
    width: 390px;
    height: 92px;
    color: #DEEFE7;
}

#dados-login{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
#usuario{
    color: #DEEFE7;
}
#senha{
    color: #DEEFE7;
}

#textErro{
    display: flex;
    width: 390px;
    height: 92px;
    left: 82px;
    top: 118px;
    color: rgb(255, 166, 0);
}

#cadastro{
    display: flex;
    width: 390px;
    height: 92px;
    left: 82px;
    top: 118px;
    color: #DEEFE7;
}

button{

}